annotated-types
anyio
asttokens
blinker
certifi
click
colorama
comm
contourpy
cycler
debugpy
decorator
distro
executing
Flask
Flask-SQLAlchemy
fonttools
greenlet
h11
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
google-generativeai
tzdata
packaging
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pywin32
pyzmq
six
sniffio
SQLAlchemy
stack-data
tornado
tqdm
traitlets
typing-inspection
typing_extensions
wcwidth
Werkzeug
Authlib
gunicorn